Repository FR-Webservices/my-prs, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, dependencies

feat: trigger initial fetch if no PRs are already loaded (#18)
  src/composables/useGithub.ts
Labels: none

feat: add localstorage migration mechanism (#19)
  src/App.vue
  src/components/NavBar.vue
  src/icons/IconLoadingSpinner.vue
  src/localStorageKeys.ts
  src/migrations/migration.d.ts
  src/migrations/steps.ts
  src/migrations/useMigrations.ts
  src/views/LoadingView.vue
Labels: none

deploy: adf886986bcb93dfe8d03d8e7319185782c7c9f0
  assets/index-AsyhEIVU.css
  assets/index-BeGsukI1.js
  assets/index-BxV4lcar.js
  assets/index-D8fCAS8G.css
  index.html
Labels: none

feat: replace table w/ primevue/datatable and add sorting & filtering
  components.d.ts
  package-lock.json
  package.json
  src/components/PullRequestTable.vue
  src/components/form/Button.vue
  src/main.ts
  src/views/HomeView.vue
  vite.config.ts
Labels: dependencies

Update package.json
  package.json
Labels: dependencies

move function
  src/components/PullRequestTable.vue
Labels: none

rename button component
  src/components/PullRequestTable.vue
  src/components/form/FormButton.vue
Labels: none

init refs
  src/components/PullRequestTable.vue
Labels: none

move initialFilter into model file
  components.d.ts
  package.json
  src/components/PullRequestTable.vue
  src/models/Filters.d.ts
  src/models/InitialFilters.ts
Labels: dependencies

fix review suggestion
  src/components/form/FormButton.vue
Labels: none

fix clear filter
  src/components/PullRequestTable.vue
  src/models/Filters.d.ts
Labels: none

replace filter interface with DataTableFilterMeta
  src/components/PullRequestTable.vue
  src/models/Filters.d.ts
  src/models/Filters.ts
  src/models/InitialFilters.ts
Labels: none

use deep copy of filter to ensure reactivity is maintained independently
  src/components/PullRequestTable.vue
Labels: none

feat: replace table w/ primevue datatable and add sorting & filtering (#26)
  components.d.ts
  package-lock.json
  package.json
  src/components/PullRequestTable.vue
  src/components/form/FormButton.vue
  src/main.ts
  src/models/Filters.ts
  src/views/HomeView.vue
  vite.config.ts
Labels: dependencies

deploy: 41c92db4b08fbf9b05677287d15b09c5f8c65bc9
  assets/index-AsyhEIVU.css
  assets/index-BxV4lcar.js
  assets/index-CJdTfwtE.css
  assets/index-DKJ0FoqB.js
  index.html
Labels: none

deploy: f0ef14bc8c90d139c16a29fac61c9de5e9387d4c
  assets/index-CAAdLxK7.css
  assets/index-CJdTfwtE.css
  assets/index-DKJ0FoqB.js
  assets/index-DnByAT0U.js
  index.html
Labels: none

feat: add review status indicator
  components.d.ts
  src/components/PullRequestStatusIcon.vue
  src/components/PullRequestTable.vue
  src/composables/useGithub.ts
  src/icons/review/IconApproved.vue
  src/icons/review/IconChanges.vue
  src/icons/review/IconCommented.vue
  src/icons/review/IconPending.vue
  src/models/PullRequest.ts
Labels: none

migrate to graphql
  components.d.ts
  src/components/PullRequestTable.vue
  src/composables/useGithub.ts
  src/models/PullRequest.ts
Labels: none

refactor: update PullRequestStatusIcon to use ReviewStatus enum and enhance GitHub composable with error handling and initialization logic
  src/components/PullRequestStatusIcon.vue
  src/components/PullRequestTable.vue
  src/composables/graphql-queries/pull-request.ts
  src/composables/useGithub.ts
  src/models/PullRequest.ts
Labels: none

refactor: enhance PullRequestStatusIcon and PullRequestTable for improved layout and icon sizing
  src/components/PullRequestStatusIcon.vue
  src/components/PullRequestTable.vue
  src/icons/review/IconCommented.vue
Labels: none

feat: add review status indicator (#37)
  components.d.ts
  src/components/PullRequestStatusIcon.vue
  src/components/PullRequestTable.vue
  src/composables/graphql-queries/pull-request.ts
  src/composables/useGithub.ts
  src/icons/review/IconApproved.vue
  src/icons/review/IconChanges.vue
  src/icons/review/IconCommented.vue
  src/icons/review/IconPending.vue
  src/models/PullRequest.ts
Labels: none

deploy: d4ef3771ea38fd4527fb89c7e5bbf7f95abe6e5c
  assets/index-BAbeMdBf.js
  assets/index-CAAdLxK7.css
  assets/index-CpwTBYme.css
  assets/index-DnByAT0U.js
  index.html
Labels: none

ci: update type-check step to ensure components.d.ts is up-to-date
  .github/workflows/ci.yaml
Labels: ci

ci: update type-check step to ensure components.d.ts is up-to-date (#38)
  .github/workflows/ci.yaml
Labels: ci

Update dependabot.yaml
  .github/dependabot.yaml
Labels: ci

Create CODEOWNERS
  CODEOWNERS
Labels: none

chore: update codeowners (#42)
  .github/dependabot.yaml
  CODEOWNERS
Labels: ci

.github/labeler.yml:

# Documentation: https://github.com/actions/labeler

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

documentation:
  - changed-files:
    - any-glob-to-any-file: "**/*.md"

dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json
