Repository FR-Webservices/my-prs, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, dependencies

.github/labeler.yml:

# Documentation: https://github.com/actions/labeler

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

documentation:
  - changed-files:
    - any-glob-to-any-file: "**/*.md"

dependencies:
  - changed-files:
    - any-glob-to-any-file: package.json
    - any-glob-to-any-file: package-lock.json

feat: store pat in local storage
  package-lock.json
  package.json
  src/composables/github.ts
Labels: dependencies

feat: store pat in local storage
  package-lock.json
  package.json
  src/composables/github.ts
Labels: dependencies

set initialized after initialize
  src/composables/github.ts
Labels: none

feat: store pat in local storage (#9)
  package-lock.json
  package.json
  src/composables/github.ts
Labels: dependencies

deploy: b3307dd6bd4b704d7cc72777f3b5b41e75975484
  CNAME
  assets/index-BOtWv0vh.css
  assets/index-DVgWGBt7.js
  assets/index-bKRnIpYn.css
  assets/index-im1sRcWR.js
  index.html
Labels: none

Create CNAME
  CNAME
Labels: none

feat: update search query to include all involvements of the user
  src/composables/github.ts
Labels: none

feat: update search query to include all involvements of the user (#10)
  src/composables/github.ts
Labels: none

deploy: 391b5ff3327c38132b5b5f974e9d1e514a18045d
  CNAME
  assets/index-RYS5tiSk.js
  index.html
Labels: none

Create CNAME
  CNAME
Labels: none

feat: add automatic refresh
  index.html
  package-lock.json
  src/App.vue
  src/assets/main.css
  src/components/NavBar.vue
  src/composables/github.ts
  src/localStorageKeys.ts
  src/models/PullRequest.ts
  src/models/RefreshTiming.ts
  src/models/utils.ts
  src/views/HomeView.vue
Labels: dependencies

feat: add automatic refresh (#11)
  index.html
  package-lock.json
  src/App.vue
  src/assets/main.css
  src/components/NavBar.vue
  src/composables/github.ts
  src/localStorageKeys.ts
  src/models/PullRequest.ts
  src/models/RefreshTiming.ts
  src/models/utils.ts
  src/views/HomeView.vue
Labels: dependencies

deploy: 56f2253754a700f5f96905e951e1883e69f375d9
  CNAME
  assets/index-BOtWv0vh.css
  assets/index-C85yjCO4.css
  assets/index-DHnJdaQ2.js
  assets/index-RYS5tiSk.js
  index.html
Labels: none

ci: add cname file
  public/CNAME
Labels: none

ci: add cname file (#12)
  public/CNAME
Labels: none

deploy: 1252392c294b799e6f9d665a01f41a7dfc548fec
  CNAME
Labels: none

fix: remove closed PRs from list
  src/composables/github.ts
Labels: none

fix: remove closed PRs from list (#13)
  src/composables/github.ts
Labels: none

feat: change logo
  dev_assets/Logo.afdesign
  dev_assets/Logo.png
  dev_assets/Logo.svg
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/components/NavBar.vue
  src/icons/IconMergeable.vue
Labels: none

feat: change logo (#14)
  dev_assets/Logo.afdesign
  dev_assets/Logo.png
  dev_assets/Logo.svg
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/components/NavBar.vue
  src/icons/IconMergeable.vue
Labels: none

deploy: b95b369ba40134cd2e33f0ece41ef8bc15f16146
  android-chrome-192x192.png
  android-chrome-512x512.png
  apple-touch-icon.png
  assets/index-C85yjCO4.css
  assets/index-D3mEcjTm.js
  assets/index-D8fCAS8G.css
  assets/index-DHnJdaQ2.js
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  index.html
  site.webmanifest
Labels: none

ci: try to reduce pr title check runs
  .github/workflows/pr-title-checker.yaml
Labels: ci

ci: try to reduce pr title check runs (#15)
  .github/workflows/pr-title-checker.yaml
Labels: ci

docs: Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Fix links
  README.md
Labels: documentation

Fix link
  CONTRIBUTING.md
Labels: documentation

Fix typo
  README.md
Labels: documentation

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

add some badges & cleanup README
  README.md
Labels: documentation

docs: Update README.md & add CONTRIBUTING.md (#16)
  CONTRIBUTING.md
  README.md
Labels: documentation

fix: replace window.interval with cron impl
  package-lock.json
  package.json
  src/components/NavBar.vue
  src/composables/useGithub.ts
  src/localStorageKeys.ts
  src/models/RefreshTiming.ts
  src/views/HomeView.vue
Labels: dependencies

fix: replace window.interval with cron impl (#17)
  package-lock.json
  package.json
  src/components/NavBar.vue
  src/composables/useGithub.ts
  src/localStorageKeys.ts
  src/models/RefreshTiming.ts
  src/views/HomeView.vue
Labels: dependencies

deploy: 2eee7a7c676bde18e5d58e3ee529e6cfd9c5fb3a
  assets/index-BeGsukI1.js
  assets/index-D3mEcjTm.js
  index.html
Labels: none

feat: add localstorage migration mechanism
  src/App.vue
  src/components/NavBar.vue
  src/icons/IconLoadingSpinner.vue
  src/localStorageKeys.ts
  src/migrations/migration.d.ts
  src/migrations/steps.ts
  src/migrations/useMigrations.ts
  src/views/LoadingView.vue
Labels: none

feat: trigger initial fetch if not PRs are already loaded
  src/composables/useGithub.ts
Labels: none
